* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

:root {
  --nav-color: rgb(0, 0, 110);
  --title-color: rgb(241, 241, 255);
}